<%- include("./partials/header.ejs") %>
    <% if(locals.id && locals.name && locals.email){ %>
        <div class="container">
            <h2>Edit User</h2>
            <form action="/edit/<%= id %>" method="POST">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="<%= name %>" required>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= email %>" required>
                </div>
                <div class="form-group">
                    <input type="submit" name="submit" value="Submit" class="btn-user">
                </div>
            </form>
        </div>
    <% }else{ %>
    <div class="container">
        <h2>Add User</h2>
        <form action="/submit" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <input type="submit" name="submit" value="Submit" class="btn-user">
            </div>
        </form>
    </div>
    <% } %>
    <%- include("./partials/footer.ejs") %>