<%- include("./partials/header.ejs") %>
    <% if(locals.newUserList){ %>
        <% if(newUserList.length===0){ %>
            <div class="container">
                <h2>Please add some user</h2>
            </div>
        <% }else{ %>
    <div class="container">
        <h2>Users List</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <% newUserList.forEach((user)=>{ %>
            <tbody>
                <!-- User data will be dynamically populated here -->
                    <td><%= user._id %></td>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td><button type="button" class="btn btn-success"><a href="./edit_user/<%= user._id %>">Edit</a></button></td>
                    <td><button type="button" class="btn btn-danger"><a href="./delete/<%= user._id %>">Delete</a></button></td>
            </tbody>
            <% }); %>
        </table>
    </div>
    <% } %>
    <% } %>
    <%- include("./partials/footer.ejs") %>
